.cart-products {
    width: 100%;
    margin-top: 50px;
}

table {
    width: 80%;
    border: 1px solid #333;
    border-collapse: collapse;
    margin: 0 auto;
}

th {
    padding: 10px 0;
    border-bottom: 1px solid #333;
}

td {
    width: 15%;
    text-align: center;
    padding: 10px 5px;
    border-left: 1px solid #333;
}

.cart-product-img {
    width: 100%;
    height: 7rem;
    object-fit: cover;
}

.table-header {
    border-bottom: 1px solid #333;
}

.btn-delete {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 80%;
    opacity: 0.9;
}

.price{
   /* float: right;
    padding-right: 250px;
    margin: 75px 0; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 250px;
}

.price h3 {
    padding: 50px 50px 0 50px;
   
}

.btn-plus {
    padding: 0 4px;
    margin: 0 4px;
    cursor: pointer;
}

.btn-minus {
    padding: 0 5px;
    margin: 0 4px;
    cursor: pointer;
}