.content {
    width: 100%;
    margin-top: 50px;
    display: flex;

}

.categories-list {
    width: 30%;
    margin-right: 20px;
}

.categories-list ul li {
    list-style: none;
    border: #e9e9e9 1px solid;
    border-radius: 2px;
    padding: 15px 0px;
    text-align: center;
    cursor: pointer;
}

.products-list {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.product-item {
    width: 100%;
    height: 200px;
    border: #e9e9e9 1px solid;
    border-radius: 2px;
}

.product-image img {
    width: 100%;
    height: 7rem;
    object-fit: cover;
}

.product-details {
    text-align: center;
}

.product-action {
    padding: 0 10px;
}

.btn {
    width: 100%;
}


